{% extends 'interface/dashboard_base.html' %}
{% load static %}
{% block dashboard %}
    <h1 class="page-header">Connect</h1>
    <h2>Current Forms</h2>
    <div class="flexbox sortable">
        {% for form_item in current_forms %}
            <div class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item" data-order="{{ forloop.counter0 }}" data-pk="{{ form_item.pk }}">
                <div class="background">
                    <div class="item-header">
                        <i class="glyphicon glyphicon-move sort-handle pull-left" aria-hidden="true"></i>
                        <a href="?edit_pk={{ form_item.pk }}"><i class="fa fa-edit"></i></a>
                        <a data-href="{% url 'delete_form' form_item.pk %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>
                    </div>
                    <h4>{{ form_item.name }}</h4>
                    <p>{{ form_item.get_form.as_p }}</p>
                </div>
            </div>
        {% endfor %}
        <a href="?edit_pk=0" class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item add-item">
           <div class="background">
               <i class="fa fa-plus"></i>
               <p>Add A Form</p>
           </div>
        </a>
    </div>

    {% if upcoming_forms %}
        <h2 data-toggle="collapse" data-target="#upcoming" class="collapsed arrow-collapse">Upcoming Forms</h2>
        <div id="upcoming" class="flexbox sortable collapse">
            {% for form_item in upcoming_forms %}
                <div class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item" data-order="{{ forloop.counter0 }}" data-pk="{{ form_item.pk }}">
                    <div class="background">
                        <div class="item-header">
                            <i class="glyphicon glyphicon-move sort-handle pull-left" aria-hidden="true"></i>
                            <a href="?edit_pk={{ form_item.pk }}"><i class="fa fa-edit"></i></a>
                            <a data-href="{% url 'delete_form' form_item.pk %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>
                        </div>
                        <h4>{{ form_item.name }}</h4>
                        <p>{{ form_item.get_form.as_p }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if past_forms %}
        <h2 data-toggle="collapse" data-target="#past" class="collapsed arrow-collapse">Past Forms</h2>
        <div id="past" class="flexbox sortable collapse">
            {% for form_item in past_forms %}
                <div class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item" data-order="{{ forloop.counter0 }}" data-pk="{{ form_item.pk }}">
                    <div class="background">
                        <div class="item-header">
                            <i class="glyphicon glyphicon-move sort-handle pull-left" aria-hidden="true"></i>
                            <a href="?edit_pk={{ form_item.pk }}"><i class="fa fa-edit"></i></a>
                            <a data-href="{% url 'delete_form' form_item.pk %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>
                        </div>
                        <h4>{{ form_item.name }}</h4>
                        <p>{{ form_item.get_form.as_p }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

     <div id="addForm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form method="POST" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add A Form</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h4>Fields</h4>
                    {{ field_form.management_form }}
                    <div class="field-sortable">
                        {% for fields in field_form %}
                            <div class="field hidden">
                                <a data-toggle="collapse" data-target="#field-collapse{{ forloop.counter0 }}"><span class="glyphicon glyphicon-sort sort-handle" aria-hidden="true"></span><span class="field-title">New Field</span><span class="pull-right">{{ fields.DELETE.label_tag }}{{ fields.DELETE }}</span></a>
                                <div id="field-collapse{{ forloop.counter0 }}" class="collapse">
                                    <p>
                                        {{ fields.name.label_tag }}
                                        {{ fields.name }}
                                    </p>
                                    <p>
                                        {{ fields.field_type.label_tag }}
                                        {{ fields.field_type }}
                                    </p>
                                    <p>
                                        {{ fields.required.label_tag }}
                                        {{ fields.required }}
                                    </p>
                                    <p>
                                        {{ fields.sort_order }}
                                    </p>
                                    <p>
                                        {{ fields.id }}
                                    </p>
                                    <p>
                                        {{ fields.form }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="addField"><i class="fa fa-plus"></i> Add a Field</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Form"/>
                </div>
            </form>

        </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Form?
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this form? This cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% if form.errors or edit_pk %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#addForm').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
