{% extends 'interface/dashboard_base.html' %}
{% block dashboard %}
    <h1 class="page-header">Dashboard</h1>
    <div class="flexbox">
        <div class="col-xs-12 col-md-6 dashboard-panel submissions">
            <div class="background">
                <h4>Latest Form Submissions</h4>
                <div class="scrollBox formSubmissionBox">
                    {% for submission in form_submissions %}
                        <a data-toggle="collapse" data-target="#field-collapse{{ forloop.counter0 }}" class="submission-title collapsed arrow-collapse">{{ submission.form_name }}</a>
                        <div id="field-collapse{{ forloop.counter0 }}" class="collapse submission-content">
                            {{ submission.content|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            <div class="col-xs-12 col-md-6 dashboard-panel analytics">
                <div class="background">
                    <h4>Analytics</h4>
					{% if church.pk == 1 %}
                    	<img src="https://docs.google.com/spreadsheets/d/1dnh-Pj_7RuuPIh_mBKz1AbkXsNbKGwJlBPuBCHLkE3o/pubchart?oid=100751049&format=image" alt="analytics data" style="width:100%;" />
					{% else %}
						<p>Nothing to Display (yet).</p>
					{% endif %}
                </div>
            </div>
    </div>
{% endblock %}
