{% extends 'interface/dashboard_base.html' %}
{% block dashboard %}
    <h1 class="page-header">Dashboard</h1>
    <div class="flexbox">
        <div class="col-xs-12 col-md-6 dashboard-panel submissions">
            <div class="background">
                <h4>Latest Form Submissions</h4>
                {% for submission in form_submissions %}
                    <a data-toggle="collapse" data-target="#field-collapse{{ forloop.counter0 }}" class="submission-title collapsed arrow-collapse">{{ submission.form_name }}</a>
                    <div id="field-collapse{{ forloop.counter0 }}" class="collapse submission-content">
                        {{ submission.content|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
            <div class="col-xs-12 col-md-6 dashboard-panel analytics">
                <div class="background">
                    <h4>Analytics</h4>
                    <iframe width="355.5" height="219.8175" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1dnh-Pj_7RuuPIh_mBKz1AbkXsNbKGwJlBPuBCHLkE3o/pubchart?oid=100751049&amp;format=interactive"></iframe>
                </div>
            </div>
    </div>
{% endblock %}
