{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Get Started</h1>
        {% if form %}
            <p>Ready to get started with Accord? Answer a few questions below to get the process started.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn" />
            </form>
        {% else %}
            <p>Thanks for contacting us! We&rsquo;ll get back to you as soon as possible!</p>
        {% endif %}
    </div>
{% endblock %}