{% extends 'interface/dashboard_base.html' %}
{% load static %}
{% block dashboard %}
    <h1 class="page-header">News</h1>
    <div class="flexbox sortable">
        {% for news_item in church.news_items.all %}
            <div class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item" data-order="{{ forloop.counter0 }}" data-pk="{{ news_item.pk }}">
                <div class="background">
                    <div class="item-header">
                        <i class="glyphicon glyphicon-move sort-handle pull-left" aria-hidden="true"></i>
                        <a href="?edit_pk={{ news_item.pk }}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'delete_item' news_item.pk %}"><i class="fa fa-trash"></i></a>
                    </div>
                    {% if news_item.image %}
                        <img src="{% static 'img/uploads/' %}{{ news_item.image }}" alt="{{ news_item.title }}" />
                    {% else %}
                        <h3>{{ news_item.title }}</h3>
                    {% endif %}
                    <p>{{ news_item.content|safe }}</p>
                </div>
            </div>
        {% endfor %}
        <a href="?edit_pk=0" class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item add-item">
           <div class="background">
               <i class="fa fa-plus"></i>
               <p>Add A News Item</p>
           </div>
        </a>
    </div>
    <div id="addItem" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form method="POST" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add A News Item</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Item"/>
                </div>
            </form>

        </div>
    </div>
    {% if form.errors or edit_pk %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#addItem').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}