{% extends 'interface/dashboard_base.html' %}
{% load static %}
{% block dashboard %}
    <h1 class="page-header">Service</h1>
    <div class="flexbox sortable">
        {% for passage in church.passages.all %}
            <div class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item" data-order="{{ forloop.counter0 }}" data-pk="{{ passage.pk }}">
                <div class="background">
                    <div class="item-header">
                        <i class="glyphicon glyphicon-move sort-handle pull-left" aria-hidden="true"></i>
                        <a href="?edit_pk={{ passage.pk }}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'delete_passage' passage.pk %}"><i class="fa fa-trash"></i></a>
                    </div>
                    <h3>{{ passage }}</h3>
                </div>
            </div>
        {% endfor %}
        <a href="?edit_pk=0" class="col-xs-12 col-mxs-6 col-sm-4 col-md-3 news-item add-item">
           <div class="background">
               <i class="fa fa-plus"></i>
               <p>Add A Passage</p>
           </div>
        </a>
    </div>
    <div id="addPassage" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form method="POST" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add A Passage</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Passage"/>
                </div>
            </form>

        </div>
    </div>
    {% if form.errors or edit_pk %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#addPassage').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}