{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{% static 'img/logo.png' %}">
    <title>Accord</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="{% static 'css/framework7.ios.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/framework7.ios.colors.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="{% static 'css/my-app.css' %}">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages toolbar-through">
            {% for page in pages %}
                {{ page.content|safe }}
            {% endfor %}
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar tabbar">
          <div class="toolbar-inner">
             {% for page in pages %}
                 <a href='#{{ page.title }}'>{{ page.title|safe }}</a>
             {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="{% static 'js/framework7.min.js' %}"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="{% static 'js/my-app.js' %}"></script>
    <script type="text/javascript">
        {% for page in pages %}
            $$(document).on('pageBeforeAnimation', '.page[data-page="{{ page.title }}"]', function (e) {
              // Do something here when page with data-page="about" attribute loaded and initialized
                $$('.active').removeClass('active');
                $$('[href="#{{ page.title }}"]').addClass('active');
            });
            {% if forloop.first %}
                $$('[href="#{{ page.title }}"]').addClass('active');
            {% endif %}
        {% endfor %}
    </script>
  </body>
</html>