{% load static register_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ form.initial.event }} Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="{% static 'img/icons/mstile-144x144.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="lightcontent">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" />
    <style>
    	body {font-size: 175%;}
    	.form-control { height: 55px;}
    	.btn {font-size: 110%;}
		.btn-primary, .btn-primary:hover {background: #1852A4; border:none;}
		a.delete-row {float: right; margin-top: 45px;}
		.ageField {margin-left: 3px !important;}
		a.add-row {clear: both; display: block; margin-bottom: 25px;}
		a.delete-row:before {content: "\f1f8"; font-family: FontAwesome; margin-right: 6px;}
    </style>
</head>
<body>
	<div class="container" style="margin-top:10px;">
		{% if request.GET.event %}
			{% if form.errors %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					There were some errors with your registration. Please correct the fields in <strong>red</strong> and try submitting again.
				</div>
			{% else %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Thank you!</strong> Your registration has been processed.
				</div>
			{% endif %}
			<div class="well">
				<form class="form-horizontal" _lpchecked="1" method="POST">
					{% csrf_token %}
					<fieldset>
						<legend><h1>{{ form.initial.event }} Registration</h1></legend>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						{% for field in form.visible_fields %}
							{% if not field.field.is_address or request.GET.address %}
								{{ field.errors }}
								<div class="form-group{% if field.errors %} has-error{% endif %}">
									<label for="id_{{ field.name }}" class="col-lg-2 control-label">{{ field.label }} {% if not field.field.required %} (optional){% endif %}</label>
									<div class="col-lg-10">
										{% render_field field 'form-control' %}
										<span class="help-block">{{ field.help_text }}</span>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</fieldset>
					{% if children_form is not None %}
						<fieldset>
							<legend><h3>Children</h3></legend>
							{{ children_form.management_form }}
							{{ children_form.non_form_errors }}
							{% for form in children_form %}
								<div class="inline">
									<div class="form-group{% if field.errors %} has-error{% endif %} col-sm-7 col-xs-7">
										{{ form.name.label_tag }}
										{{ form.name.errors }}
										<div class="">
											{% render_field form.name 'form-control' %}
											<span class="help-block">{{ form.name.help_text }}</span>
										</div>
									</div>
									<div class="form-group{% if field.errors %} has-error{% endif %} col-sm-4 col-xs-4 ageField">
										{{ form.age.label_tag }}
										{{ form.age.errors }}
										{% render_field form.age 'form-control' %}
										<span class="help-block">{{ form.age.help_text }}</span>
									</div>
								</div>
							{% endfor %}
						</fieldset>
					{% endif %}
					<div class="form-group">
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<script type="text/javascript">
				$('.alert-success').delay(1500).slideUp();
				$('.inline').formset({
					prefix: "{{ children_form.prefix }}",
					addCssClass: "add-row btn btn-success",
				});
			</script>
		{% else %}
			<div class="well">
				<form class="form-horizontal" _lpchecked="1" method="GET">
					<fieldset>
						<legend><h1>Setup Registration</h1></legend>
						<div class="form-group">
							<div class="col-lg-12">
								<input type="text" placeholder="Event Name" name="event" class="form-control" required />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label>
									<input type="Checkbox" name="address" value="True" />
									Collect adresses
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label>
									<input type="Checkbox" name="children" value="True" />
									Collect children names and ages
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<button type="submit" class="btn btn-primary" style="width:100%;">Begin Registration</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		{% endif %}
	</div>
</body>
</html>
