<div class='page' data-page="form">
    <div class="page-content">
        <style>
            h1.form-header {
                color: #fff;
                font-size: 12pt;
                display: block;
                text-align: center;
                margin-bottom: 0px;
            }
            form.list-block {
                margin-top: 10px;
            }
        </style>
       <a href="index.html" class="back link"><i class="fa fa-angle-left"></i> <span>Back</span></a>
       <h1 class="form-header">{{ contact_form.name }}</h1>
        <form method='POST' action='http://accordapp.com/contact/' class='list-block ajax-submit'>
			{% csrf_token %}
            <ul>
             {% for field in form.hidden_fields %}
                 {{ field }}
             {% endfor %}
             {% for field in form.visible_fields %}
              <li>
                <div class="item-content">
                  <div class="item-inner"> 
                    <div class="item-input">
                        {{ field }}
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li>
               <div class="submit-section">
                   <input type="submit" value="Submit" class="button button-big button-fill color-green"/>
                </div>
              </li>
            </ul>
        </form>
    </div>
</div>
